@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.fa {

    font-family: FontAwesome !important;

   }

#h2Inscription { 

  letter-spacing: 0px;
  padding: 0.5em; 
  background: none;
  position: top;
  border-radius: 0.25em;
  margin : 0.5em;
  font-size: 1.6em; 
  font-family: "Montserrat";
  font-weight: 100; 
  text-align: justify;
  margin-top : 1.2em;
  color: black;
  opacity: 80%;
  text-shadow: 0px 0.5px 0px #6e6e6ea1;
}

#h3Inscription { 

  text-align: justify;
  padding: 1.5em; 
  background: none;
  position: top;
  border-radius: 0.25em;
  margin : 0.5;
  font-size: smaller;
  font-weight: 100;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  letter-spacing: 0.5px;
  color: rgb(61, 60, 60);
  
}

#pInscription {

  display : block;
  line-height: 20px !important;
  font-size : 1em;

}

#bannerBoxInscription {

  height :auto;
  margin-top : 7em;
  margin-bottom : 5em;
  margin-right : auto;
  margin-left : auto;
  display: flex;
  width : 28em;
  align-items: center;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .4px;
  font-family: "Montserrat";
  background-color: white;
  border: 0.5px solid white;
  box-shadow: 0px 0px 6px 2px white;
  background-attachment : fixed;
  background-position: center;
  background-blend-mode: normal;
  background-size: cover;
  box-shadow: 0px 0px 0px #fff, 0px 1px 5px hsla(0,0%,0%,.1);
  border: 1.8px solid #eef0f7;

}

#divInscription {

  text-align :center;

}

.btn-submit {

  padding: 0.5em 1.25em;
  border: 0.5px solid rgb(20, 20, 20);
  box-shadow: 0px 0px 5px 2px rgb(20, 20, 20);
  border-radius: 3.75em;
  transition: 0.4s;
  display: inline-block; 
  margin-bottom: 0px;
  margin-left: 1.5em;
  margin-right : 0.5em;
  font-weight: normal;
  cursor: pointer;
  color : white;
  font-family : "Montserrat";
  background: rgb(20, 20, 20);
  width: fit-content;
  font-size: smaller;

}

.inputRegister input[type="mail"] {

  width: 100%;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: "Montserrat";
  font-size: 0.98em;;
  margin: 20px 0;
  height: 2.47em;
  outline: none;
  padding-right: 20px;
  box-sizing: border-box;
  transition: 0.3s;
  margin-top: 2em;
  float: right;
  letter-spacing: 0px !important;
    
  }

  .inputRegister input[type="mail"]:focus { 
  
    width : 100%;
    border-color: rgb(30, 146, 255);
    height : 2.48em;
    font-size: 0.98em;
    box-shadow :0px 0.5px 0px rgb(30, 146, 255);
  }

.inputRegisterPass input[type="password"] {

  width: 100%;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: "Montserrat";
  font-size: 0.98em;
  margin: 20px 0;
  height: 2.47em;
  outline: none;
  padding-right: 20px;
  box-sizing: border-box;
  transition: 0.3s;
  margin-top: 2em;
  float: right;

  }

  .inputRegisterPass input[type="password"]:focus {  
  
    width : 100%;
    border-color: rgb(30, 146, 255);
    height : 2.48em;
    font-size: 0.98em;
    box-shadow :0px 0.5px 0px rgb(30, 146, 255);

  }

  #passwordVerify { /*pour que le champ password verify soit modifiable*/

    padding-left: 35px;
    font-size: 0.98em;
    font-family: 'Montserrat';
    color : black;

}
  .inputRegisterPassVerify input[type="password"] {

    width: 100%;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: "Montserrat";
    font-size: 0.98em;;
    margin: 20px 0;
    height: 2.47em;
    outline: none;
    padding-right: 20px;
    box-sizing: border-box;
    transition: 0.3s;
    margin-top: 2em;
    float: right;

  }

  .inputRegisterPassVerify input[type="password"]:focus {  
  
    width : 100%;
    border-color: rgb(30, 146, 255);
    height : 2.48em;
    box-shadow :0px 0.5px 0px rgb(30, 146, 255);
  }

  .inputWithIconRegister { 
    position: relative; 
    letter-spacing: 0px !important;

  }
  .inputWithIconRegisterPass { 
    position: relative; 
    letter-spacing: 0px !important;

  }
 
  .inputWithIconRegisterPassVerify { 
    position: relative; 
    letter-spacing: 0px !important;

  }
  
  .inputWithIconRegister i {
   
    position: absolute;
    top: 1.4em;
    padding: 9px 0px;
    transition: 0.3s;
    font-size : 25.2px;
   
  }

  .inputWithIconRegisterPass i {
  
    position: absolute;
    top: 1.4em;
    padding: 9px 0px;
    transition: 0.3s;
    font-size : 25.2px;
   
  }

  .inputWithIconRegisterPassVerify i { 
  
    position: absolute;
    padding: 9px 0px;
    top: 1.4em;
    transition: 0.3s;
    font-size : 25.2px;
   
  }

  .inputWithIconRegister .inputRegister input[type="mail"] {

    padding-left: 35px;
    font-family: 'Montserrat';
    color : black;

  }
  
  .inputWithIconRegisterPass .inputRegisterPass input[type="password"] {

    padding-left: 35px;
    font-family: 'Montserrat';
    color : black;
}

