body {

  color : black;
  font-family: "Montserrat";
  max-width: 100%;
  min-width: 100%;
  margin: 0;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  table-layout: fixed;
  display: table; /*permet de fixer le footer en bas de page*/
  background : rgb(250, 250, 250);
  overflow-y: auto !important ;
  padding-right : 0px !important ;
  overflow-x: auto !important;
  

}

html {

  position: relative;
  font-size: 0.95em;
   
 }

 div {

  position : relative;
  font-size: 97.5%;
  letter-spacing: 0px !important;
  
}



.body {


color : black;
font-family: "Montserrat";
max-width: 100%;
min-width: 100%;
margin: 0;
min-height: 100vh;
justify-content: center;
flex-direction: column;
table-layout: fixed;
display: table; /*permet de fixer le footer en bas de page*/
background : ghostwhite;
/*linear-gradient(to right, rgb(201, 214, 255), rgb(227, 246, 251));*/

}

.root {

background-color :  transparent;

}


.h2ChangePass { 

  letter-spacing: 0px;
  padding: 0.5em;
  color : rgb(0, 0, 0);
  background: none;
  position: top;
  border-radius: 0.25em;
  margin : 0.5em;
  font-size: 1.4em;
  font-family: "Montserrat";
  font-weight: 100;
  text-align: justify;
  margin-top : 1.2em;
  color: black;
  opacity: 80%;
  text-shadow: 0px 0.5px 0px #6e6e6ea1;

}

.linkDesignChangePass .inputWithIconChangePass {

    color :rgb(61, 60, 60);
      
}

.pChangePass {

  display : block;
  line-height: 20px !important;
  font-size : 1em;

}

/* Banner */

.bannerBoxChangePass {

  height :auto;
  margin-top : 10em;
  margin-bottom : 5em;
  margin-right : auto;
  margin-left : auto;
  display: flex;
  width : 30em;
  align-items: center;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .4px;
  font-family: "Montserrat";
  background-color: white;
  background-attachment : fixed;
  background-position: center;
  background-blend-mode: normal;
  background-size: cover;
  border: 1px solid white;
  box-shadow: 0px 0px 20px 2px white;
  box-shadow: 0px 0px 0px #fff, 0px 1px 5px hsla(0,0%,0%,.1);
  border: 1.8px solid #eef0f7;

}

.btn-swap {


  padding: 0.5em 1.25em;
  border: 0.5px solid rgb(20, 20, 20);
  box-shadow: 0px 0px 5px 2px rgb(20, 20, 20);
  border-radius: 3.75em;
  transition: 0.4s;
  margin-left: 1.5em;
  margin-right : 0.5em;
  font-weight: normal;
  cursor: pointer;
  color : white;
  font-family : "Montserrat";
  background: rgb(20, 20, 20);
  width : fit-content;
  margin-bottom : 1.5em;
  margin-top: 0.5em;
  margin-top: 1em;

}

#divChangePass {

    text-align :center;
    margin-top: 2em;
    margin-bottom: 1em;

}

.labelDesignChangePass {

  text-align : center;
  background: none;
  border-radius: 0.25em;
  margin : 0.5em;
  font-size: 1em;
  font-family: "Montserrat";
  font-weight: 100;
  
}


.inputChangePass input[type="password"] {

  width: -webkit-fill-available;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: "Montserrat";
  font-size: medium;
  margin: 20px 0;
  height: 2.47em;
  outline: none;
  margin-right: 2em;
  margin-left: 2em;
  box-sizing: border-box;
  transition: 0.3s;
  margin-top: 2em;
  padding-right: 20px;

}


.inputChangePass {
  justify-content: center;
}


  .inputChangePass input[type="password"]:focus { 

      width : -webkit-fill-available;
      border-color: rgb(30, 146, 255);
      height : 2.48em;
      font-size : medium;
      box-shadow :0px 0.5px 0px rgb(30, 146, 255);
  
      
    }


  .inputWithIconChangePass { 
    position: relative; 
  }
  
  .inputWithIconChangePass i { 

      position: absolute;
      top: 0.5em;
      padding: 9px 0px;
      transition: 0.3s;
      font-size : 25.2px;
      margin-left: 1em;
     
   
  }

  
  .inputWithIconChangePass .inputChangePass input[type="password"] {

    padding-left: 40px;
    font-size: 0.9em;
    font-family: 'Montserrat';
    color : black;
}



/*  PASSWORD VERIFY*/

/*#changePasswordVerify { 

 /* padding-left: 40px;
  font-size: 0.9em;
  font-family: 'Montserrat';
  color : black;

}*/

.inputChangePassVerify {

  justify-content: center;


}
.inputChangePassVerify input[type="password"] {

  width: -webkit-fill-available;
  border-right : none;
  border-left : none;
  border-top : none;
  border-bottom : 1px solid black;
  background-color : white;
  font-family: "Montserrat";
  font-size : medium;
  margin: 20px 0;
  height : 2.47em;
  outline: none;
  margin-right: 2em;
  margin-left: 2em;
  box-sizing: border-box;
  transition: 0.3s;
  margin-top : 2em;
  padding-right : 20px;

}

.inputChangePassVerify .inputWithIconChangePassVerify input[type="password"] {

  width: 100%;
  border-right : none;
  border-left : none;
  border-top : none;
  border-bottom : 1px solid black;
  background-color : white;
  font-family: "Montserrat";
  font-size : medium;
  margin: 20px 0;
  height : 2.47em;
  outline: none;
  padding-right: 20px;
  margin-right : 40px;
  box-sizing: border-box;
  transition: 0.3s;
  margin-top : 2em;
}


.inputChangePassVerify input[type="password"]:focus {  

  width: -webkit-fill-available;
  border-color: rgb(30, 146, 255);
  height : 2.48em;
  font-size : medium;
  box-shadow :0px 0.5px 0px rgb(30, 146, 255);


}


.inputWithIconChangePassVerify { 
  position: relative; 
}

.inputWithIconChangePassVerify i { 

  position: absolute;
  top: 0.5em;
  padding: 9px 0px;
  transition: 0.3s;
  font-size : 25.2px;
  margin-left: 1em;
 
}


.inputWithIconChangePassVerify .inputChangePassVerify input[type="password"] {

  padding-left: 40px;
  font-size: 0.9em;
  font-family: 'Montserrat';
  color : black;

}


.MuiAlert-root {
display: flex !important;
padding: 6px 16px !important;
font-size: 0.875rem;
font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
font-weight: 400 !important;
line-height: 1.43 !important;
border-radius: 4px !important;
letter-spacing: 0.01071em !important;
background-color: transparent !important;
position : relative !important;
margin-top : 0em !important;
}

.MuiAlert-standardError {
color: rgb(97, 26, 21) !important;
background-color: rgb(253, 236, 234) !important;
float: none !important;
}

.faChangeMP {

color: rgb(0, 174, 255);
text-shadow: 0px 0px 2px #ffffff;
cursor: pointer;
font-size: 1em;
float : right;
text-decoration: underline;
margin-top : 1em;
margin-bottom : 1em;

}
